@use "../../../../styles/variables" as V;

.item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: V.$primary-default;
    text-decoration: none;
    font-size: V.$paragraph;

    transition:
        width 0.2s linear,
        background-color 0.2s linear;

    &:hover {
        background-color: V.$gray-300;
    }

    &:active {
        background-color: V.$primary-900;
    }

    &[data-active="true"] {
        background-color: V.$primary-800;
    }

    &.collapsed {
        width: 36px;
        height: 36px;
        justify-content: flex-start;
        padding-inline: 10px;
        border-radius: 4px;

        &:hover {
            position: relative;
            $leftPos: 130%;
            $topPos: 50%;
            $rotation: 45deg;
            $background: V.$pure-white;
            $layer: V.$layer-important;

            &::before {
                $size: 10px;
                $translation: -50% -50%;

                content: "";
                width: $size;
                height: $size;
                position: absolute;
                top: $topPos;
                left: $leftPos;
                translate: $translation;
                rotate: $rotation;
                background-color: $background;
                z-index: $layer;
            }

            &::after {
                $translation: 0 -50%;

                content: attr(aria-label);
                width: min-content;
                height: 30px;
                position: absolute;
                top: $topPos;
                left: $leftPos;
                display: flex;
                align-items: center;
                padding: 0 8px;
                translate: $translation;
                z-index: $layer;
                border-radius: 4px;
                background-color: $background;
                text-transform: capitalize;
                font-size: small;
                color: V.$background-color;
            }
        }
    }

    &.expanded {
        width: 100%;
        padding: 7.5px 10px;
    }
}

.icon {
    $size: 18px;

    width: $size;
    height: $size;
    display: flex;
    align-items: center;
    justify-content: center;
}
