@use "./variables" as V;

* {
    margin: V.$defaultMargin;
    padding: V.$defaultPadding;
    box-sizing: V.$defaultBoxSizing;
}

body {
    font-size: V.$defaultFontSize;
    font-family: V.$font-roboto;
}
