@use "./variables" as V;

* {
    margin: V.$defaultMargin;
    padding: V.$defaultPadding;
    box-sizing: V.$defaultBoxSizing;
    font-family: sans-serif;
}

body {
    font-size: V.$defaultFontSize;
}
