@use "../../styles/variables" as V;

.sidebar {
    $maxWidth: 190px;
    $minWidth: 60px;
    $height: 100%;
    $maxHeight: 100vh;
    $padding: 16px 0;

    min-width: $minWidth;
    max-width: $maxWidth;
    height: $height;
    max-height: $maxHeight;
    background-color: rgba(V.$soft-black, 0.9);
    padding: $padding;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;

    transition: width 0.2s linear;

    &[data-collapsed="true"] {
        width: $minWidth;
    }

    &[data-collapsed="false"] {
        width: $maxWidth;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        box-shadow: inset -8px 0 16px -6px V.$soft-black;
        pointer-events: none;
    }

    & hr {
        width: 60%;
        margin: 0 auto;
        color: V.$soft-white;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .sidebar[data-collapsed="true"] > & {
        justify-content: center;
        align-items: center;
    }
}

.logo {
    height: 70px;
    transition: all 0.2s linear;

    &.expanded {
        align-self: center;
        width: 60%;
    }

    &.collapsed {
        width: 100%;
        rotate: -450deg;
    }
}

.toggleButton {
    $top: 3%;
    $left: 98%;
    $size: 18px;
    $color: V.$pure-white;
    $translate: -50% -50%;
    $layer: V.$layer-important;
    $radius: 100%;

    transition: all 0.2s linear;

    position: absolute;
    top: $top;
    left: $left;
    translate: $translate;
    width: $size;
    height: $size;
    font-size: V.$paragraph;
    background: none;
    border: none;
    border-radius: $radius;
    cursor: pointer;
    color: $color;
    background-color: V.$pure-white;
    color: V.$soft-black;
    z-index: $layer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px V.$soft-black;

    &:hover {
        filter: brightness(0.8);
    }

    &:active {
        filter: brightness(0.6);
    }
}
