@use "../../styles/variables" as V;

.mapContainer {
    width: 100%;
    height: 200px;
}

.container {
    position: absolute;
    top: 50%;
    right: 1%;
    translate: 0% -50%;
    width: 450px;
    height: 95vh;
    background-color: V.$soft-black;
    z-index: V.$layer-important;
    border-radius: 4px;
    padding: 16px;
    color: V.$soft-white;
    display: flex;
    flex-direction: column;
    gap: 10px;

    transition: right 0.2s linear;

    &.collapsed {
        right: calc(0% - 450px);
    }

    & hr {
        margin-block: 16px;
    }

    & h1 {
        font-size: V.$heading-4;
    }

    & p {
        font-size: V.$paragraph;
    }
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;

    & h2 {
        font-size: V.$heading-6;
    }

    & p {
        font-size: V.$paragraph;
    }
}

.metadata {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & h4 {
        font-size: V.$heading-6;
    }

    & small {
        font-size: V.$small-paragraph;
    }
}
